@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Work+Sans:wght@300;500;900&display=swap');

$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$container-width: 1280px;
$container-width-small: 800px;
$theme-red: #680c07;
$theme-green: #Bee5B0;

h1,h2,h3,h4,h5,h6,p,li,a,span,strong,div {
    color: $white;
}

h1, h2 {
    font-family: 'Work Sans';
    font-size: 62px!important;
    line-height: 64px;
    font-weight: 900;
}
h3 {
    font-family: 'Work Sans';
    font-size: 32px!important;
    line-height: 34px;
    font-weight: 500;
}
h4 {
    font-family: 'PT Sans Narrow';
    font-size: 34px!important;
    line-height: 48px;
}
p {
    font-family: 'PT Sans Narrow';
    font-size: 24px;
    line-height: 28px;
}

body {
    background-color: $black!important;
}

#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: black;
    top: 0;
    .logo {
        padding: 10px 0;
        img {
            max-height: 70px;
        }
    }
    nav {
        ul {
            margin-bottom: 0;
            display: flex;
            li {
                a {
                    display: inline-block;
                    padding: 0 15px;
                    line-height: 90px;
                    background-color: $black;
                    transition: all 0.3s ease-in-out;
                    span {
                        font-size: 21px;
                        line-height: 90px;
                        display: inline-block;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        background-color: $white;
                        span {
                            color: $black;
                        }   
                    }
                }
            }
        }
    }
}

.section {
    padding: 0 0 120px 0;
    .title-holder {
        max-width: 800px;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;
        &.left {
            text-align: left;
            margin: 0;
        }
        h1, h2 {
            margin-bottom: 30px;
        }
        h4 {
            margin-bottom: 45px;
        }
        a {
            margin-top: 45px;
        }
    }
    .about-wrapper {
        padding: 0 60px;
        .about-image-holder {
            position: relative;
            z-index: 9;
        }
    }
    &.intro-section {
        min-height: 600px;
        background-color: $white;
        background-size: cover;
        background-position: center;
        margin-bottom: 120px;
        position: relative;
        padding: 210px 0 120px 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: rgba($black, 0.6);
       }
       .title-holder {
           position: relative;
           z-index: 10;
           margin-bottom: 0;
       }
    }
    &.section-projects {
        .project {
            min-height: 450px;
            background-size: cover;
            background-position: center;
            position: relative;
            &:nth-child(3n+1) {
                border-right: 20px solid $black;
            }
            &:nth-child(3n+2) {
                border-right: 10px solid $black;
                border-left: 10px solid $black;
            }
            &:nth-child(3n+3) {
                border-left: 20px solid $black;
            }
           a {
                text-decoration: none;
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 0;
                    background-color: rgba($black, 0.4);
                    transition: all 0.3s ease;
               }
               &:hover {
                   &:before {
                        background-color: rgba($black, 0);
                   }
               }
           }
           .project-inner {
            position: absolute;
            z-index: 9;
            bottom: 30px;
            left: 30px;
            width: #{'calc(100% - 60px)'};
            pointer-events: none;
        }
        }
    }
    &.section-instagram {
        .ei-carousel {
            .swiper-wrapper {
                .swiper-slide {
                    padding: 0 15px;
                    img {
                        height: 450px!important;
                    }
                }
            }
        }
        .swiper-navigation, .swiper-pagination-wrapper {
            display: none;
        }
    }
}

footer {
    padding: 60px 15px 120px 15px;
    .footer-info {
        margin: 0 auto;
        .company-info {
            text-align: center;
            margin-bottom: 45px;
            ul {
                li {
                    a {
                        font-size: 24px;
                        line-height: 40px;
                        color: white;
                        text-decoration: underline!important;
                    }
                }
            }
        }
        .contactform {
            & > p {
                text-align: center;
                .wpcf7-spinner {
                    display: none;
                }
            }
            .field {
                margin-bottom: 30px;
                p {
                    span {
                        width: 100%;
                        display: block;
                        input {
                            background-color: $black;
                            color: $white;
                            height: 50px;
                            line-height: 50px;
                            border: 3px solid $white;
                            width: 100%;
                        }
                        textarea {
                            background-color: $black;
                            color: $white;
                            border: 3px solid $white;
                            width: 100%;
                        }
                    }
                }
            }
            .wpcf7-submit {
                background-color: $black;
                color: $white;
                height: 50px;
                border: 3px solid $white;
                padding: 0 30px;
                cursor: pointer;
            }
        }
    }
}

.btn-primary {
    background-color: $black!important;
    color: $white!important;
    height: 50px!important;
    line-height: 40px!important;
    border: 3px solid $white!important;
    padding: 0 30px!important;
    cursor: pointer;
    border-radius: 0!important;
    outline: none!important;
    box-shadow: none!important;
    font-size: 21px!important;
}

.project-overview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    padding: 0 15px;
    .project-item {
        margin-bottom:30px;
        a {
            img {
                width: 100%;
                height: auto;
        
            }
        }
        .info-holder {
            margin-top: 30px;
            p {
                margin-top: 30px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }
}