@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Work+Sans:wght@300;500;900&display=swap');
h1, h2, h3, h4, h5, h6, p, li, a, span, strong, div {
  color: rgba(255, 255, 255, 1);
}
h1, h2 {
  font-family: 'Work Sans';
  font-size: 62px !important;
  line-height: 64px;
  font-weight: 900;
}
h3 {
  font-family: 'Work Sans';
  font-size: 32px !important;
  line-height: 34px;
  font-weight: 500;
}
h4 {
  font-family: 'PT Sans Narrow';
  font-size: 34px !important;
  line-height: 48px;
}
p {
  font-family: 'PT Sans Narrow';
  font-size: 24px;
  line-height: 28px;
}
body {
  background-color: rgba(0, 0, 0, 1) !important;
}
#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: black;
  top: 0;
}
#header .logo {
  padding: 10px 0;
}
#header .logo img {
  max-height: 70px;
}
#header nav ul {
  margin-bottom: 0;
  display: flex;
}
#header nav ul li a {
  display: inline-block;
  padding: 0 15px;
  line-height: 90px;
  background-color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
}
#header nav ul li a span {
  font-size: 21px;
  line-height: 90px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
#header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 1);
}
#header nav ul li a:hover span {
  color: rgba(0, 0, 0, 1);
}
.section {
  padding: 0 0 120px 0;
}
.section .title-holder {
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}
.section .title-holder.left {
  text-align: left;
  margin: 0;
}
.section .title-holder h1, .section .title-holder h2 {
  margin-bottom: 30px;
}
.section .title-holder h4 {
  margin-bottom: 45px;
}
.section .title-holder a {
  margin-top: 45px;
}
.section .about-wrapper {
  padding: 0 60px;
}
.section .about-wrapper .about-image-holder {
  position: relative;
  z-index: 9;
}
.section.intro-section {
  min-height: 600px;
  background-color: rgba(255, 255, 255, 1);
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
  position: relative;
  padding: 210px 0 120px 0;
}
.section.intro-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.section.intro-section .title-holder {
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}
.section.section-projects .project {
  min-height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.section.section-projects .project:nth-child(3n+1) {
  border-right: 20px solid rgba(0, 0, 0, 1);
}
.section.section-projects .project:nth-child(3n+2) {
  border-right: 10px solid rgba(0, 0, 0, 1);
  border-left: 10px solid rgba(0, 0, 0, 1);
}
.section.section-projects .project:nth-child(3n+3) {
  border-left: 20px solid rgba(0, 0, 0, 1);
}
.section.section-projects .project a {
  text-decoration: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section.section-projects .project a:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.section.section-projects .project a:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.section.section-projects .project .project-inner {
  position: absolute;
  z-index: 9;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  pointer-events: none;
}
.section.section-instagram .ei-carousel .swiper-wrapper .swiper-slide {
  padding: 0 15px;
}
.section.section-instagram .ei-carousel .swiper-wrapper .swiper-slide img {
  height: 450px !important;
}
.section.section-instagram .swiper-navigation, .section.section-instagram .swiper-pagination-wrapper {
  display: none;
}
footer {
  padding: 60px 15px 120px 15px;
}
footer .footer-info {
  margin: 0 auto;
}
footer .footer-info .company-info {
  text-align: center;
  margin-bottom: 45px;
}
footer .footer-info .company-info ul li a {
  font-size: 24px;
  line-height: 40px;
  color: white;
  text-decoration: underline !important;
}
footer .footer-info .contactform > p {
  text-align: center;
}
footer .footer-info .contactform > p .wpcf7-spinner {
  display: none;
}
footer .footer-info .contactform .field {
  margin-bottom: 30px;
}
footer .footer-info .contactform .field p span {
  width: 100%;
  display: block;
}
footer .footer-info .contactform .field p span input {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  height: 50px;
  line-height: 50px;
  border: 3px solid rgba(255, 255, 255, 1);
  width: 100%;
}
footer .footer-info .contactform .field p span textarea {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  width: 100%;
}
footer .footer-info .contactform .wpcf7-submit {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 1);
  padding: 0 30px;
  cursor: pointer;
}
.btn-primary {
  background-color: rgba(0, 0, 0, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  height: 50px !important;
  line-height: 40px !important;
  border: 3px solid rgba(255, 255, 255, 1) !important;
  padding: 0 30px !important;
  cursor: pointer;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 21px !important;
}
.project-overview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  padding: 0 15px;
}
.project-overview .project-item {
  margin-bottom: 30px;
}
.project-overview .project-item a img {
  width: 100%;
  height: auto;
}
.project-overview .project-item .info-holder {
  margin-top: 30px;
}
.project-overview .project-item .info-holder p {
  margin-top: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
